.description{
  padding-top: 16px;
  &__title{
    font-size: 36px;
    font-weight: 200;
    margin: 0;
    margin-bottom: 48px;
  }
  &__title-small{
    margin: 0;
    color: @blue-title;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 16px;
  }
  &__text{
    color: @grey-text;
    margin: 0;
    margin-bottom: 20px;
    font-weight: lighter;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
// .content .description--left{
//   padding-left: 28px;
// }