.form-input {
  width: 100%;
  padding: 14px 16px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #325366;
  background-color: #002A42;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  &:focus {
    background-color: #FFF;
  }
}