.form {
  margin: 0 auto;
  max-width: 770px;
  padding: 0 30px;
  &__inputs {
    padding: 0;
    margin-bottom: 20px;
  }
  &__inputs--code {
    display: inline-block;
    vertical-align: top;
  }
  &__textarea {
    display: block;
    width: 100%;
    padding: 0;
    border: 1px solid #325366;
    background-color: #002A42;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    resize: none;
    padding: 14px 16px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-height: 190px;
    &:focus {
      background-color: #FFF;
    }
  }
  &__input-wrap--textarea{
    margin-bottom: 19px;
  }
  &__input-wrap--submit {
    width: 37%;
    padding-top: 31px;
  }
  &__code-image {
    padding-top: 31px;
    width: 43%;
  }
  &__code-link {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    margin-top: 10px;
    text-align: right;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    color: #01A4FF;
  }
}