.header-social {
  font-size: 14px;
  line-height: 14px;
  padding-top: 14px;
  &__link {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    width: 20px;
    height: 20px;
    &:first-child {
      margin-left: 0;
      width: auto;
      height: auto;
    }
    &--fb {
      background: url("../img/fb-header.svg") no-repeat;
      margin-left: 40px;
    }
    &--twit {
      background: url("../img/twit-header.svg") no-repeat;
    }
    &--insta {
      background: url("../img/insta-header.svg") no-repeat;
    }
  }
}