.logo {
  padding-left: 42px;
  padding-top: 38px;
}

@media (max-width: 660px) {
  .logo {
    display: block;
    text-align: center;
    float: none;
    padding-left: 0;
  }
}
@media (min-width: 1600px){
  .logo { 
    padding-left: 70px;
  }
}

@media (min-width: 1800px){
  .logo {
    padding-left: 100px;
  }
}