.logo{
  display: block;
  margin-left: 42px;
  &--top{
    margin-top: 38px;
  }
  &--footer{
    float: left;
    text-align: left;
    margin-top: 14px;
  }
}

@media (max-width: 780px){
  .logo{
    display: block;
    text-align: center;
    float: none;
    margin-left: 0;
  }
}
@media (min-width: 1600px){
  .logo{
    margin-left: 70px;
  }
}

@media (min-width: 1800px){
  .logo{
    margin-left: 100px;
  }
}