.main-header{
  height: 100vh;
  max-height: 860px;  
  background: url("../img/overlay-header.png") no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  &__title{
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -590px;
    margin-top: -62px;
    color: #fff;
    font-size: 42px;
    line-height: 43px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
  }
}

@media (max-width: 1320px) {
  .main-header {
    &__title {
      max-width: 695px;
      left: 50%;
      margin-left: -340px;
    }
  }
}
@media (max-width: 780px) {
  .main-header {
    &__title {
      max-width: 460px;
      margin-left: -215px;
      margin-top: -100px;
    }
  }
}

@media (max-width: 380px) {
  .main-header {
    &__title {
      font-size: 24px;
      margin-left: -155px;
      margin-top: -68px;
      max-width: 340px;
      left: 47%;
    }
  }
}