.partners{
  font-size: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: @grey-bg;
  padding-top: 23px;
  width: 100%;
  padding-left: 50px;
  padding-bottom: 17px;
  position: absolute;
  bottom: -2px;
  left: 0;
  &__img{
    width: 16%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    &--titan{
      padding-top: 6px;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    &--888{
      margin-top: 1px;
      width: 60px;
      height: 40px;
      background: url("../img/sprites/sprites.png") no-repeat -155px -74px;
      &:hover{
        background-position: 0 -169px;
      }
    }
    &--lad{
      margin-top: 8px;
      width: 140px;
      height: 23px;
      background: url("../img/sprites/sprites.png") no-repeat 0 -84px;
      &:hover{
        background-position: 0 -144px;
      }
    }
    &--ell{
      margin-top: 6px;
      width: 120px;
      height: 27px;
      background: url("../img/sprites/sprites.png") no-repeat -155px 0;;
      &:hover{
        background-position: 0 -112px;
      }
    }
    &--leo{
      width: 150px;
      height: 37px;
      background: url("../img/sprites/sprites.png") no-repeat 0 -42px;
      &:hover{
        background-position: 0 0;
      }
    }
    &--titan{
      margin-top: 2px;
      width: 70px;
      height: 34px;
      background: url("../img/sprites/sprites.png") no-repeat -65px -171px;
      &:hover{
        background-position: -155px -111px;
      }
    }
    &--europa{
      width: 55px;
      height: 39px;
      background: url("../img/sprites/sprites.png") no-repeat -215px -32px;
      &:hover{
        height: 39px;
        background-position: -155px -32px;
      }
    }
  }
}

@media (max-width: 1000px){
  .partners{
    padding-left: 0;
    bottom: -165px;
    &__img{
      width: 50%;
      padding-bottom: 14px;
      &:nth-last-child(1){
        padding-bottom: 0;
      }
      &:nth-last-child(2){
        padding-bottom: 0;
      }
    }
  }
}

@media (min-resolution: 2dppx){
  .partners{
    &__link{
      &--888{
        background: url("../img/sprites/sprites2x.png") no-repeat -155px -73px;
        background-size: 275px 201px;
        &:hover{
          background-position: 0 -168px;
        }
      }
      &--lad{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites2x.png") no-repeat 0 -84px;
        &:hover{
          background-position: 0 -144px;
        }
      }
      &--ell{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites2x.png") no-repeat -155px 0;
        &:hover{
          background-position: 0 -112px;
        }
      }
      &--leo{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites2x.png") no-repeat 0 -42px;
        &:hover{
          background-position: 0 0;
        }
      }
      &--titan{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites2x.png") no-repeat -65px -171px;
        &:hover{
          background-position: -155px -111px;
        }
      }
      &--europa{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites2x.png") no-repeat -215px -32px;
        &:hover{
          height: 39px;
          background-position: -155px -32px;
        }
      }
    }
  }
}

@media (min-resolution: 3dppx){
  .partners{
    &__link{
      &--888{
        background: url("../img/sprites/sprites3x.png") no-repeat -155px -73px;
        background-size: 275px 201px;
        &:hover{
          background-position: 0 -168px;
        }
      }
      &--lad{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites3x.png") no-repeat 0 -84px;
        &:hover{
          background-position: 0 -144px;
        }
      }
      &--ell{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites3x.png") no-repeat -155px 0;
        &:hover{
          background-position: 0 -112px;
        }
      }
      &--leo{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites3x.png") no-repeat 0 -42px;
        &:hover{
          background-position: 0 0;
        }
      }
      &--titan{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites3x.png") no-repeat -65px -171px;
        &:hover{
          background-position: -155px -111px;
        }
      }
      &--europa{
        background-size: 275px 201px;
        background-image: url("../img/sprites/sprites3x.png") no-repeat -215px -32px;
        &:hover{
          height: 39px;
          background-position: -155px -32px;
        }
      }
    }
  }
}