.partners{
  font-size: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: @grey-bg;
  padding-top: 26px;
  width: 100%;
  padding-left: 50px;
  padding-bottom: 10px;
  position: absolute;
  bottom: -2px;
  left: 0;
  &__img{
    width: 16%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    &--888{
      width: 60px;
      height: 40px;
      background: url("../img/partner1_1x.png") no-repeat;
      background-size: 60px auto;
      &:hover{
        background-image: url("../img/partner1_1x-hover.png");
      }
    }
    &--lad{
      width: 140px;
      height: 23px;
      background: url("../img/partner2_1x.png") no-repeat;
      background-size: 140px auto;
      &:hover{
        background-image: url("../img/partner2_1x-hover.png");
      }
    }
    &--ell{
      width: 120px;
      height: 27px;
      background: url("../img/partner3_1x.png") no-repeat;
      background-size: 120px auto;
      &:hover{
        background-image: url("../img/partner3_1x-hover.png");
      }
    }
    &--leo{
      width: 150px;
      height: 37px;
      background: url("../img/partner4_1x.png") no-repeat;
      background-size: 150px auto;
      &:hover{
        background-image: url("../img/partner4_1x-hover.png");
      }
    }
    &--titan{
      width: 70px;
      height: 34px;
      background: url("../img/partner5_1x.png") no-repeat;
      background-size: 70px auto;
      &:hover{
        background-image: url("../img/partner5_1x-hover.png");
      }
    }
    &--europa{
      width: 55px;
      height: 39px;
      background: url("../img/partner6_1x.png") no-repeat;
      background-size: 55px auto;
      &:hover{
        height: 39px;
        background-image: url("../img/partner6_1x-hover.png");
      }
    }
  }
}

@media (max-width: 1000px){
  .partners{
    padding-left: 0;
    bottom: -165px;
    &__img{
      width: 50%;
      padding-bottom: 14px;
      &:nth-last-child(1){
        padding-bottom: 0;
      }
      &:nth-last-child(2){
        padding-bottom: 0;
      }
    }
  }
}

@media (min-resolution: 2dppx){
  .partners{
    &__link{
      &--888{
        background-image: url("../img/partner1_2x.png");
        &:hover{
          background-image: url("../img/partner1_2x-hover.png");
        }
      }
      &--lad{
        background-image: url("../img/partner2_2x.png");
        &:hover{
          background-image: url("../img/partner2_2x-hover.png");
        }
      }
      &--ell{
        background-image: url("../img/partner3_2x.png");
        &:hover{
          background-image: url("../img/partner3_2x-hover.png");
        }
      }
      &--leo{
        background-image: url("../img/partner4_2x.png");
        &:hover{
          background-image: url("../img/partner4_2x-hover.png");
        }
      }
      &--titan{
        background-image: url("../img/partner5_2x.png");
        &:hover{
          background-image: url("../img/partner5_2x-hover.png");
        }
      }
      &--europa{
        background-image: url("../img/partner6_2x.png");
        &:hover{
          height: 39px;
          background-image: url("../img/partner6_2x-hover.png");
        }
      }
    }
  }
}

@media (min-resolution: 3dppx){
  .partners{
    &__link{
      &--888{
        background-image: url("../img/partner1_3x.png");
        &:hover{
          background-image: url("../img/partner1_3x-hover.png");
        }
      }
      &--lad{
        background-image: url("../img/partner2_3x.png");
        &:hover{
          background-image: url("../img/partner2_3x-hover.png");
        }
      }
      &--ell{
        background-image: url("../img/partner3_3x.png");
        &:hover{
          background-image: url("../img/partner3_3x-hover.png");
        }
      }
      &--leo{
        background-image: url("../img/partner4_3x.png");
        &:hover{
          background-image: url("../img/partner4_3x-hover.png");
        }
      }
      &--titan{
        background-image: url("../img/partner5_3x.png");
        &:hover{
          background-image: url("../img/partner5_3x-hover.png");
        }
      }
      &--europa{
        background-image: url("../img/partner6_3x.png");
        &:hover{
          height: 39px;
          background-image: url("../img/partner6_3x-hover.png");
        }
      }
    }
  }
}